{% extends 'mainapp/index.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">

<img class="left-column" src="{{product.imageURL}}">
<div class="right-column"><!-- Product Description -->
    <div class="product-description">
    <h2>{{product.name}}</h2>
    {{product.description}}</div>
    <!-- Product Pricing -->
    <div class="product-price">{{product.price}} ₽</div> <a><button data-product = {{product.id}} data-action = "add" class="btn btn-warning add-btn update-cart">Add to Cart</button></a>
</div>
<div class="comment">
    <h2>Отзывы</h2>
    <p></p>
    <p></p>
    <p></p>
    {% for comment in comments%}
        <div class="comment-cart">
            <div class="media-body">
                <div class="well well-lg">
                    <h4 class="media-heading text-uppercase reviews">{{comment.customer}}: </h4>
                    <p class="media-comment">
                      {{comment.text}}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if user.is_authenticated %}
        <form action="{% url 'leave_comment' product.id %}" method="POST">
            {% csrf_token %}
            <p><textarea name="comment_area" cols="40" rows="3"></textarea></p>
            <button class="btn btn-warning">Оставить отзыв</button>
        </form>
    {% else %}
        <h4>Только зарегестрированные пользователи могут оставлять отзыв</h4>
    {% endif %}
</div>
{% endblock content%}